<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body id="body-pd">
    {{>side}}
    <form action="/productCategoryMapping" method="post">
        <section>
            <div class="height-100 bg-light">
                 {{#if message}}
                <div class="alert alert-info">{{message}}</div>
                {{/if}}
                <div class="col-md-12 main-table-data container mt-5 border" style="padding-top: 20px;">
                    <div class="col-md-12 title-title">
                        <h3 class="pt-4"> Product Category Mapping </h3>
                    </div>
                    <div class="handler-container col-md-12 ">
                        <div class="col-md-6 textarea-container-first pt-4">
                            <div class="md-form mb-4  active-pink-textarea-2">
                                <label for="form17" class="formlabel">Store</label>
                                <select id="form17" name="outletId" class="form-control">
                                    <option>Select Store</option>
                                    {{#each store}}
                                    <option value="{{outletId}}"> {{ storeName }} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6 textarea-container-first pt-4">
                            <div class="md-form mb-4  active-pink-textarea-2">
                                <label for="form17" class="formlabel">Product</label>
                                <select id="form17" name="itemId" class="form-control">
                                    <option>Select Product</option>
                                    {{#each product}}
                                    <option value="{{itemId}}"> {{ itemName }} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="handler-container col-md-12">
                        <div class="col-md-6 textarea-container-second pt-4">
                            <div class="md-form mb-4  active-pink-textarea-2">
                                <label for="form17" class="formlabel">Category 1</label>
                                <select id="form17" name="cat1" class="form-control">
                                    <option>Select Category</option>
                                    {{#each category}}
                                    <option value="{{shortDescription}}"> {{ shortDescription }} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 textarea-container-second pt-4">
                            <div class="md-form mb-4  active-pink-textarea-2">
                                <label for="form17" class="formlabel">Category 2</label>
                                <select id="form17" name="cat2" class="form-control">
                                    <option>Select Category</option>
                                    {{#each category}}
                                    <option value="{{shortDescription}}"> {{ shortDescription }} </option>
                                    {{/each}}
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="applied_to_all" name="store_selection" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                            Applied to all Stores
                        </label>
                    </div>
                    <div class="container" style="padding: 50px;">
                        <div class="row">
                            <div class="col-md-6" style="text-align: center;">
                                <button class="button-34" role="button" type="submit"
                                    style="margin:10px">Update</button>
                            </div>
                            <div class="col-md-6" style="text-align: center;">
                                <button class="button-34" role="button" type="reset" style="margin:10px">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </form>
</body>

</html>